<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Details</title>
    <link rel="stylesheet" href="../css/product-details.css" />
</head>

<body>

    <header>
        <a href="javascript:history.back()" class="back-btn">← Back</a>
        <a href="/templates/categories.html" class="back-btn">Categories</a>
        <a href="/index.html" class="home-btn">Home</a>


    </header>

    <div class="details-container">
        <h1 id="product-name"></h1>
        <p class="price" id="product-price"></p>
        <p class="description" id="product-description"></p>
    </div>

    <script src="../js/product-details.js"></script>
    
</body>
</html>
